<div>
  <h2 id="page-heading" data-cy="ProductHeading">
    <span jhiTranslate="cjscApp.product.home.title">Products</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="cjscApp.product.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-product"
        [routerLink]="['/product/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="cjscApp.product.home.createLabel"> Create a new Product </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>
  <jhi-alert></jhi-alert>

  <div class="row justify-content-center">
    <div class="col-2">
      <div>
        <form name="searchForm" class="form-inline">
          <ngx-slider
            class="w-100 mt-4"
            [(value)]="minValue"
            [(highValue)]="maxValue"
            [options]="options"
            (valueChange)="minValueChangeRange($event)"
            (highValueChange)="highValueChangeRange($event)"
          ></ngx-slider>
          <div class="input-group w-100 mt-4">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="currentSearch"
              id="currentSearch"
              name="currentSearch"
              placeholder="Search In products"
            />
          </div>
          <div class="input-group w-100 mt-4">
            <button class="w-60 btn btn-info" (click)="search(currentSearch)">
              <fa-icon [icon]="'search'"></fa-icon>
            </button>
            <button class="w-40 btn btn-danger" (click)="clearSearch()" *ngIf="currentSearch">
              <fa-icon [icon]="'trash-alt'"></fa-icon>
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="col-md-10">
      <div class="alert alert-warning" id="no-result" *ngIf="products?.length === 0">
        <span jhiTranslate="cjscApp.product.home.notFound">No products found</span>
      </div>

      <div class="table-responsive" id="entities" *ngIf="products && products.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
              <th scope="col" jhiSortBy="id">
                <span jhiTranslate="global.field.id">ID</span>
                <fa-icon icon="sort"></fa-icon>
              </th>
              <th scope="col" jhiSortBy="name">
                <span jhiTranslate="cjscApp.product.name">Name</span>
                <fa-icon icon="sort"></fa-icon>
              </th>
              <th scope="col" jhiSortBy="productCode">
                <span jhiTranslate="cjscApp.product.productCode">Product Code</span>
                <fa-icon icon="sort"></fa-icon>
              </th>
              <th scope="col" jhiSortBy="lastPrice">
                <span jhiTranslate="cjscApp.product.lastPrice">Last Price</span>
                <fa-icon icon="sort"></fa-icon>
              </th>
              <th scope="col" jhiSortBy="photo">
                <span jhiTranslate="cjscApp.product.photo">Photo</span>
                <fa-icon icon="sort"></fa-icon>
              </th>
              <!--<th scope="col" jhiSortBy="description">
              <span jhiTranslate="cjscApp.product.description">Description</span>
              <fa-icon icon="sort"></fa-icon>
            </th>-->
              <th scope="col" jhiSortBy="category.title">
                <span jhiTranslate="cjscApp.product.category">Category</span>
                <fa-icon icon="sort"></fa-icon>
              </th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products; trackBy: trackId" data-cy="entityTable">
              <td>
                <a [routerLink]="['/product', product.id, 'view']">{{ product.id }}</a>
              </td>
              <td>{{ product.name }}</td>
              <td>{{ product.productCode }}</td>
              <td>{{ product.lastPrice }}</td>
              <td>
                <a *ngIf="product.photo" (click)="openFile(product.photo, product.photoContentType)">
                  <img
                    [src]="'data:' + product.photoContentType + ';base64,' + product.photo"
                    style="max-height: 30px"
                    alt="product image"
                  />
                </a>
              </td>
              <!-- <td>{{ product.description }}</td>-->
              <td>
                <div *ngIf="product.category">
                  <a [routerLink]="['/category', product.category?.id, 'view']">{{ product.category?.title }}</a>
                </div>
              </td>
              <td class="text-right">
                <div class="btn-group">
                  <button type="submit" (click)="rating(product)" class="btn btn-outline-secondary btn-sm">
                    <fa-icon icon="star"></fa-icon>
                    <span>Rate And Comment</span>
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/product', product.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </button>

                  <button
                    type="submit"
                    [routerLink]="['/product', product.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </button>

                  <button type="submit" (click)="delete(product)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="products && products.length > 0">
        <div class="row justify-content-center">
          <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
          <ngb-pagination
            [collectionSize]="totalItems"
            [(page)]="ngbPaginationPage"
            [pageSize]="itemsPerPage"
            [maxSize]="5"
            [rotate]="true"
            [boundaryLinks]="true"
            (pageChange)="loadPage($event)"
          ></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
