<div class="row justify-content-center">
  <!--<div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>-->

  <div class="col-md-9">
    <h1 class="display-4" jhiTranslate="home.title">Welcome!</h1>

    <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>

    <div [ngSwitch]="isAuthenticated()">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }"
          >You are logged in as user "{{ account.login }}".</span
        >
      </div>
    </div>

    <h4>
      The purpose is to get information about interviewee’s knowledge level of industry standard frameworks and coding practices. The
      grading of the assignment will take into consideration the functionality of the application, cleanness and architecture of the code,
      quality of the UX and other factors. OVERVIEW Assignment is to implement web based JAVA Application on shopping management software.
    </h4>
  </div>
</div>
